## Based on GitHub's Eclipse .gitignore

*.md linguist-detectable=true

.calude/

run/
!run/**/*.nbt
!run/**/*.mcfunction
.nbt
.gradle/
build/
gradle-app.setting

## IntelliJ IDEA

.idea/
*.iml
*.iws
*.ipr

## Eclipse

eclipse/
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.mcreator
.DS_Store
logs/sever
logs/function



# MCreator Lock Files
**/.mcreator_lock
.protected_custom_files/
*.backup_*

# Prevent MCreator regeneration
minecraft_armor_weapon.mcreator.lock
